@import "../../assets/css/utils.css";

.added {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D3FDE9;
    border: 1px solid #93ECC1;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    position: fixed;
    width: 92%;
    margin: 0 1.5rem;
    opacity: 0;
    visibility: hidden;
    transition: .7s;
}

.added.show {
  opacity: 1;
  visibility: visible;
}

.added p {
    color: #023B20;
}

.image {
  width: 100vw;
  height: 30rem;
  background: #e2e9f031;
  padding: 2rem 3rem;
}
@media only screen and (min-width: 500px) {
  .image {
    height: 40rem;
  }
}
@media only screen and (min-width: 800px) {
  .image {
    height: 46rem;
  }
}
@media only screen and (min-width: 1200px) {
  .image {
    height: 53rem;
  }
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  padding: 2rem 1.5rem 1.5rem;
}

.info > p:first-of-type {
  color: var(--color-dark);
}

.info > span {
  display: inline-block;
  margin: 1.5rem 0 0;
}

.info h3 {
  font-size: 1.6rem;
  font-weight: 700;
  display: inline-block;
}
.info h3 + span {
  font-size: 1.1rem;
  color: var(--color-grey);
  letter-spacing: 0.5px;
}

.description {
  padding: 1.2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid var(--color-svg-2);
  border-bottom: 3px solid var(--color-svg-2);
}

.ratings {
  padding: 1.7rem 1.5rem;
}
.ratings p {
    color: var(--color-svg);
  }
.review {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ratings img {
  height: 33px;
  width: 33px;
 border-radius: 100%;
}
.review h3:last-of-type {
  color: var(--color-primary);
}
.stars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1.7rem 0;
}
.stars h3 {
    font-size: 1.2rem;
    font-weight: 500;
    transform: translateY(-2px);
    margin-left: 6px;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5rem 0 0;
    margin-bottom: 9.5rem;
}

.profile img {
  margin-right: 1rem;
}

.profile h3 {
    font-size: 1.24rem;
    transform: translateY(2px);
}















