@import "../../assets/css/utils.css";

.body {
  background: var(--color-primary);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.body > div {
  margin-top: 16rem;
}

.body > div * {
  color: var(--color-white) !important;
  text-align: center;
}
.body > div h2 {
  margin-bottom: 0.8rem;
}

.body img {
  width: 9rem;
  height: 9rem;
  display: block;
  margin: 0 auto 2rem;
}

.body button {
  background: var(--color-white);
  width: 95%;
  border-radius: 4px;
  position: fixed;
  bottom: 3.7rem;
}

.body span {
  color: var(--color-primary);
}
