@import "../assets/css/utils.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  /* letter-spacing: 1px; */
}
/* ::selection {
   background:rgba(252, 229, 55, 0.72);
 } */

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  background: var(--color-white);
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style: none;
}

button,
input,
textarea,
select {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
button:active,
select:active,
select:focus,
input:active,
textarea:active,
button:focus,
input:focus,
textarea:focus {
  border: none;
  outline: none;
}

textarea {
  cursor: text;
}
