@import "../../assets/css/utils.css";

.headNav {
  padding: 1.2rem 1.5rem;
  border-top: 1px solid var(--color-svg-2);
  border-bottom: 1px solid var(--color-svg-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headNav div {
  flex: 0 0 33%;
  padding: 0 1rem 0 1.5rem;
  display: flex;
  align-items: center;
}

.headNav div p,
.headNav div select {
  font-size: 1.5rem;
  color: var(--color-main);
  margin-left: 1rem;
}
.headNav div select {
  font-weight: 555;
}

.headNav div:nth-child(2) {
  border-left: 1.7px solid var(--color-svg-2);
  border-right: 1.7px solid var(--color-svg-2);
}
.headNav span {
  padding: 0.7rem;
  background: var(--color-svg-2);
  display: grid;
  align-items: center;
  width: max-content;
  border-radius: 100%;
  position: relative !important;
}
.headNav svg {
  height: 1.7rem;
  width: 1.7rem;
}
.headNav .total {
  padding: 0 0 0.4rem;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 100%;
  background: var(--color-orange);
  color: var(--color-white);
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.headNav .total + p {
  margin-left: 0;
}

.alerts {
  padding: 0 3rem 0 2.5rem;
  margin: 4rem 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.alerts p {
  width: min-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 0.5rem;
  color: var(--color-dark-3);
}
.alerts svg {
  width: 2.5rem;
  height: 2.5rem;
}

.pop1,
.pop2,
.pop3,
.pop4 {
  width: max-content;
  margin: 0 auto;
  padding: 1.2rem 1.5rem;
  border-radius: 4px;
}
.alerts .pop1 {
  background: var(--color-primary);
}
.alerts .pop2 {
  background: var(--color-orange);
}
.alerts .pop3 {
  background: var(--color-purple);
}
.alerts .pop4 {
  background: var(--color-green);
}

.carts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 0 2rem 2rem;
  height: max-content;
}

.body main {
  margin-bottom: 8.5rem;
}

@media only screen and (max-width: 470px) {
  .headNav div p,
  .headNav div select {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 453px) {
  .carts {
    row-gap: 1rem;
  }
}

@media only screen and (max-width: 438px) {
  .headNav {
    padding: 1.2rem 0.5rem;
  }
  .headNav div {
    padding: 0 1rem 0 1rem;
  }

  .alerts svg {
    width: 2rem;
    height: 2rem;
  }
  .pop1,
  .pop2,
  .pop3,
  .pop4 {
    padding: 0.8rem 1rem;
  }
}

@media only screen and (max-width: 402px) {
  .headNav {
    padding: 1.2rem 0;
  }
  .carts {
    column-gap: 1.5rem;
    row-gap: 2.3rem;
  }
}
@media only screen and (max-width: 393px) {
  .headNav div:nth-of-type(2) {
    flex: 0 0 35%;
  }
  .headNav div p,
  .headNav div select {
    font-size: 1.2rem;
  }
  .alerts p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 375px) {
  .okBtn {
    display: block;
    width: max-content;
    margin: 1.3rem auto 0;
  }
}

@media only screen and (max-width: 358px) {
  .headNav div:nth-of-type(2) p {
    font-size: 1rem;
  }
  .headNav div:nth-of-type(3) p {
    margin-left: -0.5rem;
  }
  .headNav div p,
  .headNav div select {
    font-size: 1.1rem;
    margin-left: 0.5rem;
  }

  .headNav svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .alerts p {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 346px) {
  .headNav {
    padding: 0.8rem 0;
  }
  .headNav div {
    padding: 0 1rem 0 0.5rem;
  }
  .headNav div:nth-of-type(1) {
    margin-left: 0.3rem;
  }
  .headNav svg {
    height: 1.4rem;
    width: 1.4rem;
  }
}
@media only screen and (max-width: 340px) {
  .carts {
    column-gap: 1.1rem;
  }
  .alerts {
    padding-left: 1.7rem;
  }
}
